<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.studioandroida.rodzajniki">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rodzajniki">
        <activity android:name=".GraActivity"></activity>
        <activity
            android:name=".Samouczek"
            android:label="@string/title_activity_samouczek"
            android:theme="@style/Theme.Rodzajniki.NoActionBar" />
        <activity android:name=".samouczek.Samouczek" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>